body{
    font-family: 'Roboto', sans-serif;
    color: #000;
}

#container{
    width:535px;
    margin:50px auto;
    padding: 20px;
}
#container h2{
    text-align:center;
    color:#045;
}

#challengeContainer{
    width:75%;
    background: #fff;
    padding:10px;
    margin:30px auto;
    text-align: center;
    height:150px;
}
#buttonContainer{
    width: 100%;
    text-align: center;
}
.challengeButton{
    width:160px;
    margin:10px 5px;
    border:2px solid #46b8da;
    color:#045;
    font-family: inherit;
    font-weight: bold;
    padding:2px;
    text-decoration: none;
    text-align: center;
}

.challengeButton:hover{
    cursor:pointer;
    background:#09c;
    color: #fff;
}
.challengeButton:active{
    cursor: pointer;
}
.challengeButton{
    display: inline-block;
}
#easyChallengeButton{
    float: left;
}
#hardChallengeButton{
    float: right;
}
#challengeGenius{
    font-style: italic;
    font-weight: 600;
    text-align: center;
}


/*MEDIA QUERIES*/
@media screen and(max-width:760px){
    .challengeButton,#addNew{
        display: block;
    }
}